@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #dd9bfc59; /* Cor de fundo do modo claro */
  color: #000000; /* Cor do texto do modo claro */
}

body.dark-mode {
  background-color: #000000; /* Cor de fundo do modo escuro */
  color: #ffffff; /* Cor do texto do modo escuro */
}

html{
  background-color: #dd9bfc59;
}

.content {
  background-color: #dd9bfc59;
  margin-bottom: 0.4%;
  margin-top: 0;
  padding: 0;
}

.header{
  display: flex;
  align-items: baseline;
  background-color: #EF216B;
  padding: 0.5% 5%;
  gap: 3%;
  margin-bottom: 0.1%;
}

#logo{
  border-radius: 100%;
}

.texto{
  color: white;
	font-family: 'Great Vibes', cursive;
  align-self: flex-end;
}

button{
  cursor: pointer;
}

  main{
  background-color: rgba(156, 156, 156, 0.733);
	color: #f9f7fa;
  text-align: center;
  height: 35px;
  margin-bottom: 0.2%;
  }

  .guia{
    color: rgb(156, 156, 156);
	  margin-left: 1%;
    font-size: 90%;

  }

  .guia a{
    color: #ec4985fd;
  }
  
  .content{
   padding: 0 5%;
   margin-top: 0%;
   
  }

  button a{
    color: white;
    text-decoration: none;
  }

  .form-check{
    font-size: 14px;
  }

  .rodape{
    background-color: #EF216B;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 5%;
    margin-top: 5%;
    align-items: first baseline;
    padding-top: 1%;
    margin-top: 0;
  } 
  
   footer h6{
    text-align: end;
    vertical-align: bottom;
    padding: 2%;
    color: white;
  }
  
  .texto-garden{
    color: white;
    font-family: 'Great Vibes', cursive;
    
  }
  
  .logo-footer{
    font-family: 'Great Vibes', cursive;
    color: white; 
    align-self: flex-start;
  }

  .copyright{
    grid-column: span 3;
  }

  .copyright p{
    text-align: center;
    color: #EF216B;
  }
  
  h2{
    font-family: 'Great Vibes', cursive;
    color: white; 
    align-self: flex-start;
  }

  .redes-sociais{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  .redes{
    color: white;
    font-family: 'Great Vibes', cursive;
  }

  .redes-sociais > p{
    align-self: last baseline;
    margin-left: 2%;
    color: #ebd4f5cb;
  }
  
  .btn {
    margin-top: 1%;
  }